[submodule "tardigrade_ws"]
	path = tardigrade_ws
	url = https://github.com/berkeleyauv/tardigrade_ws.git
[submodule "tardigrade_unity_world"]
	path = tardigrade_unity_world
	url = https://github.com/berkeleyauv/tardigrade_unity_world.git
